<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Aside-->
        <app-side-bar (eventPermisos)="handlePermisos($event)"></app-side-bar>
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!--begin::Header-->
            <app-top-bar></app-top-bar>
            <!--end::Header-->
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Toolbar-->
                <div class="toolbar" id="kt_toolbar">
                    <!--begin::Container-->
                    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                        <!--begin::Page title-->
                        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                            <!--begin::Title-->
                            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Ingresos
                                <!--begin::Separator-->
                                <span class="h-20px border-gray-200 border-start mx-5"></span>
                                <!--end::Separator-->
                                <!--begin::Description-->
                                <ol class="breadcrumb text-muted fs-6 fw-semibold">
                                    <li class="breadcrumb-item pe-3 text-muted"><a [routerLink]="['/ingresos']"  class="pe-3">Ingresos</a></li>
                                    <li class="breadcrumb-item pe-3">Nuevo ingresos</li>
                                </ol>
                      
                                <!--end::Description--></h1>
                            <!--end::Title-->
                        </div>
                        <!--end::Page title-->
                        <!--begin::Actions-->
                        <div class="d-flex align-items-center py-1">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="text-muted fw-bold fs-7">Panel Administrador</span>
                            </h3>
                        </div>
                        <!--end::Actions-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Post-->
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container-xxl">
                        <!--begin::Row-->
                        <div class="row gy-5 g-xl-8">
                            <div class="col-12">
                                <div class="card card-flush mb-10">
                                    <!--begin::Card header-->
                                    <div class="card-header pt-7 mb-3">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="card-label fw-bold text-gray-800 fw-700">Ingreso manual</span>
                                            <span class="text-gray-400 mt-1 fw-semibold fs-6 d-none d-sm-block">Ingresos realizadas al almacén</span>
                                        </h3>
                                    </div>
                                    
                                    <div class="card-body">

                                        <div class="alert alert-dismissible bg-light-danger border border-danger border-dashed d-flex flex-column flex-sm-row w-100 p-5 mb-10">
                                            <!--begin::Icon-->
                                            <!--begin::Svg Icon | path: icons/duotune/communication/com003.svg-->
                                            <span class="svg-icon svg-icon-2hx svg-icon-danger me-4 mb-5 mb-sm-0 d-none d-sm-block">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path opacity="0.3" d="M2 4V16C2 16.6 2.4 17 3 17H13L16.6 20.6C17.1 21.1 18 20.8 18 20V17H21C21.6 17 22 16.6 22 16V4C22 3.4 21.6 3 21 3H3C2.4 3 2 3.4 2 4Z" fill="currentColor"></path>
                                                    <path d="M18 9H6C5.4 9 5 8.6 5 8C5 7.4 5.4 7 6 7H18C18.6 7 19 7.4 19 8C19 8.6 18.6 9 18 9ZM16 12C16 11.4 15.6 11 15 11H6C5.4 11 5 11.4 5 12C5 12.6 5.4 13 6 13H15C15.6 13 16 12.6 16 12Z" fill="currentColor"></path>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <!--end::Icon-->
                                            <!--begin::Content-->
                                            <div class="d-flex flex-column pe-0 pe-sm-10">
                                                <h5 class="mb-1">Alerta importante!</h5>
                                                <span>Si cambia de producto o color cuando tenga rollos agregados estos serán eliminados.</span>
                                            </div>
                                            <!--end::Content-->
                                           
                                        </div>
                                        

                                        <div class="d-flex flex-wrap align-items-center">
                                            <!--begin::Label-->
                                            <div id="kt_signin_email">
                                                <div class="fs-6 fw-bold mb-1">Tipo</div>
                                                <div class="fw-semibold text-gray-600 d-none d-sm-block">Selecciona el tipo producto.</div>
                                                
                                            </div>
                                            
                                            <div id="kt_signin_email_button" class="ms-auto">
                                               <select class="form-select" name="tipo" [(ngModel)]="ingreso.tipo" (change)="setTipo()">
                                                    <option value="" selected disabled>Seleccionar</option>
                                                    <option value="Ropa">Ropa</option>
                                                    <option value="Tela">Tela</option>
                                                    <option value="Acero">Acero</option>
                                               </select>
                                            </div>
                                            <!--end::Action-->
                                        </div>

                                      

                                        <div class="separator separator-dashed my-6"></div>

                                        <div class="d-flex flex-wrap align-items-center mb-5">
                                            <!--begin::Label-->
                                            <div id="kt_signin_email">
                                                <div class="fs-6 fw-bold mb-1 required">Almacen</div>
                                                <div class="fw-semibold text-gray-600 d-none d-sm-block">Almacén de destino para los productos.</div>
                                            </div>
                                            
                                            <div id="kt_signin_email_button" class="ms-auto">
                                               <select name="" class="form-select" name="almacen" [(ngModel)]="ingreso.almacen">
                                                    <option value="" selected disabled>Seleccionar</option>
                                                    <option value="{{item}}" *ngFor="let item of almacenes">{{item}}</option>
                                               </select>
                                            </div>
                                            <!--end::Action-->
                                        </div>

                                    </div>
                                </div>

                                <div class="card card-flush">
                                    <!--begin::Card header-->
                                    <div class="card-header pt-7 mb-3">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="card-label fw-bold text-gray-800 fw-700">Conteo de productos</span>
                                            <span class="text-gray-400 mt-1 fw-semibold fs-6 d-none d-sm-block">Lorem ipsum dolor sit adipisicing elit.</span>
                                        </h3>
                                    </div>
                                   
                                    <!--end::Card header-->
                                    <div class="card-body">

                                        <div>
                                                    
                                            <!--begin::Results-->
                                            <div class="">
                                                <div class="fv-row row mb-5">
                                                    <!--begin::Col-->
                                                    <div class="col-md-4">
                                                        <!--begin::Label-->
                                                        <label class="form-label" style="font-size: 1rem; margin-bottom: 0rem;">
                                                            Producto  ({{productos.length}}/{{todos}})
                                                        </label> 
                                                        <br>
                                                        <small class="text-primary" style="cursor: pointer;" (click)="init_productos('Todos')">Restablecer</small>
                                                        <!--end::Label-->
                                                    </div>
                                                    <!--end::Col-->
                                                    <!--begin::Col-->
                                                    <div class="col-md-8" >
                                                        <input type="text" class="form-control form-control-solid" placeholder="Buscar producto" name="filtro_producto" [(ngModel)]="filtro_producto" id="str_producto" (keyup)="search_productos()">
                                                    </div>
                                                    <!--end::Col-->
    
                                                    <div class="col-md-12">
                                                        <div class="py-5" *ngIf="productos.length >= 1">
                                                            
                                                            <!--begin::Results-->
                                                            <div class="">
                                                                <!--begin::Users-->
                                                                <div class="mh-300px scroll-y me-n5 pe-5">
                                                                    <div class="table-responsive">
                                                                        <table class="table align-middle table-row-dashed fs-6 gy-3 dataTable no-footer">
                                                                            <!--begin::Table body-->
                                                                            <tbody class="fw-bold text-gray-600">
                                                                                <tr class="odd" *ngFor="let item of productos; let idx = index" [ngClass]="{'producto_selected': item.producto._id == producto._id}">
                                                                                    <td style="padding-left: 1rem;">
                                                                                        <a class="d-flex align-items-center cursor-pointer" style="padding: 0px;" (click)="selected_producto(item)">
                                                                                            <!--begin::Avatar-->
                                                                                            <div class="symbol symbol-35px symbol-circle me-5" style="width: 35px;
                                                                                            height: 35px;">
                                                                                                 <span class="symbol-label" style="background-image:url({{item.producto.portada}});"></span>
                                                                                            </div>
                                                                                            <!--end::Avatar-->
                                                                                        
                                                                                            <!--begin::Info-->
                                                                                            <div class="fw-semibold">
                                                                                                <span class="text-gray-800 fs-6 fw-bold text-1 fw-600 cursor-pointer" style="font-weight: 500;
                                                                                                font-size: 1rem !important;">
                                                                                                    <ng-container  *ngIf="item.producto.minutos_pasados <= min_new_tag ">
                                                                                                        <span class="badge badge-warning text-dark" style="font-size: .7rem;">
                                                                                                            Nuevo
                                                                                                        </span>
                                                                                                        &nbsp;
                                                                                                    </ng-container>
    
                                                                                                    {{item.producto.titulo}}
                                                                                                </span>
                                                                                                <code>
                                                                                                    {{item.producto.categoria}}
                                                                                                </code>
                                                                                            </div>
                                                                                            <!--end::Info-->
                                                                                        </a>
                                                                                    </td>
                                                                                    <td class="text-end" style="padding-right: 1rem;">
                                                                                        <div class="symbol-group symbol-hover flex-grow-1 min-w-100px pe-2 justify-content-end">
                                                                                            <!--begin::User-->
                                                                                            <div class="symbol symbol-circle symbol-25px" *ngFor="let subitem of item.variaciones" style="cursor: pointer;border: 1px dashed #ccc;" (click)="selected_variacion(subitem)">
                                                                                                <div style="cursor: pointer;" class="symbol-label fs-8 fw-semibold text-inverse-primary" [ngStyle]="{'background-color': subitem.hxd}"  placement="top" tooltipClass="bg_toolip" ngbTooltip="{{subitem.variante}}">
                                                                                                    </div>
                                                                                            </div>
                                                                                            <!--end::User-->
                                                                                        </div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                            <!--end::Table body-->
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!--end::Users-->
                                                            </div>
                                                            <!--end::Results-->
                                                        
                                                        </div>

                                                        <div class="text-center" *ngIf="todos != productos.length">
                                                            <code class="cursor-pointer" (click)="click_matriculas()">
                                                                Cargar más
                                                            </code>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <!--end::Results-->
                                        
                                        </div>

                                        <!--begin::Row-->
                                        <div *ngIf="variaciones.length >= 1" class="row row-cols-1 row-cols-md-3 row-cols-lg-1 row-cols-xl-3 g-9 mb-7">
                                            <!--begin::Col-->
                                            <div class="col" *ngFor="let item of variaciones">
                                                <!--begin::Option-->
                                                <label [ngClass]="{'variacion_selected': item._id == producto_variacion._id}" 
                                                class="btn btn-outline btn-outline-dashed btn-active-light-primary d-flex text-start" 
                                                style="padding: 1rem 1.5rem;">
                                                    <!--begin::Radio-->
                                                    <span class="form-check form-check-custom form-check-solid form-check-sm align-items-start">
                                                        <input id="radio-color-{{item._id}}" class="form-check-input" type="radio" name="discount_option" value="1" (change)="selected_variacion(item)" />
                                                    </span>
                                                    <!--end::Radio-->
                                                    <!--begin::Info-->
                                                    <span class="d-flex ms-5">
                                                        <a class="symbol symbol-50px">
                                                            <span class="symbol-label" style="width: 20px !important;height: 20px !important;margin-right: 5px;border: 1px solid #ccc" [ngStyle]="{'background': item.hxd}"></span>
                                                        </a>
                                                        <span class="fs-7 fw-600 text-gray-800 d-block">
                                                            {{item.variacion_name}}
                                                            <ng-container *ngIf="item.tipo == 'Acero'">
                                                               - {{item.color_name}}
                                                            </ng-container>
                                                            <ng-container *ngIf="item.tipo == 'Ropa'">
                                                                - {{item.talla}}
                                                             </ng-container>
                                                        </span>
                                                    </span>
                                                    <!--end::Info-->
                                                </label>
                                                <!--end::Option-->
                                            </div>
                                            <!--end::Col-->
                                          
                                        </div>
                                        <!--end::Row-->

                                        <div class="separator separator-dashed my-6"></div>

                                        <div class="d-flex justify-content-between mb-6">
                                            <div class="d-flex justify-content-between"  style="max-width: 600px !important;">
                                             
                                                <div class="input-group mb-3">
                                                    <input type="number" class="form-control form-control-solid mb-lg-0" placeholder="Cantidad" name="cantidad" [(ngModel)]="detalle.cantidad" (keyup.ENTER)="agregar_detalle()">
                                                    <button class="btn btn-dark" (click)="agregar_detalle()">
                                                        <span class="svg-icon svg-icon-3"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path opacity="0.3" d="M10 18C9.7 18 9.5 17.9 9.3 17.7L2.3 10.7C1.9 10.3 1.9 9.7 2.3 9.3C2.7 8.9 3.29999 8.9 3.69999 9.3L10.7 16.3C11.1 16.7 11.1 17.3 10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"/>
                                                            <path d="M10 18C9.7 18 9.5 17.9 9.3 17.7C8.9 17.3 8.9 16.7 9.3 16.3L20.3 5.3C20.7 4.9 21.3 4.9 21.7 5.3C22.1 5.7 22.1 6.30002 21.7 6.70002L10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"/>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </div>


                                                
                                            </div>

                                            <div>
                                                <div class="m-0">                            
                                                    <span class="fw-semibold text-gray-400 d-block fs-8">Cantidad</span>
                                                    <a class="fw-bold text-gray-800 text-hover-primary fs-7">
                                                        {{cantidad.toFixed(2)}} 
                                                        {{ingreso.unidad}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex gap-5" style="overflow-x: auto; max-width: 100%;">
                                            <div class="d-flex flex-column cursor-pointer" style="border: 1px dashed #e2e2e2; padding: 10px 10px; background-color: #f5f8fa; border-radius: 5px; min-width: 200px;" *ngFor="let item of arr_variaciones" [ngClass]="{'variacion_resumen_selected': variacion_active == item.producto_variacion}" (click)="variacion_active = item.producto_variacion">
                                                <div class="w-100">
                                                    <small>
                                                        {{item.producto.substring(0,25)}}...
                                                    </small>
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <div class="me-2" style="width: 35px;height: 35px;border-radius: 5px;" 
                                                        [ngStyle]="{'background': item.hxd}">
                                                    </div>
                                                    <div class="d-flex flex-column">
                                                        <p class="mb-0 fw-700">
                                                            {{item.variacion_name}} 
                                                            <ng-container *ngIf="item.tipo == 'Ropa'">
                                                                - {{item.talla}}
                                                            </ng-container>
                                                            <ng-container *ngIf="item.tipo == 'Acero'">
                                                                - {{item.color_name}}
                                                            </ng-container>
                                                        </p>
                                                        <small class="text-primary">{{item.cantidad.toFixed(2)}} {{ingreso.unidad}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--begin::Card body-->
                                    <div class="card-body pt-0" *ngIf="arr_variaciones.length >= 1">
                                        <!--begin::Table wrapper-->
                                        <div class="table-responsive" *ngFor="let item of arr_variaciones; let idx1 = index">
                                            <!--begin::Table-->
                                            <table *ngIf="item.producto_variacion == variacion_active" class="table table-flush align-middle table-row-bordered table-row-solid gy-4 gs-9">
                                                
                                                <!--begin::Tbody-->
                                                <tbody class="fw-6 fw-semibold text-gray-600" *ngIf="item.unidades.length >= 1">
                                                    <ng-container  *ngFor="let subitem of item.unidades; let idx2 = index">
                                                        <tr>
                                                            <td style="padding-left: 0px !important;">
                                                                <div class="d-flex align-items-center">
                                                                    <a class="symbol symbol-50px bg-secondary bg-opacity-25 rounded me-3" >
                                                                        <span class="symbol-label" style="width: 25px;height: 25px;border: 1px dashed #ccc;" [ngStyle]="{'background': subitem.hxd}"></span>
                                                                    </a>
                                                                    <a>
                                                                        {{subitem.producto_titulo}}
                                                                    </a>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                {{producto_variacion.variante}}
                                                            </td>
                                                            <td><code>{{subitem.codigo.toUpperCase()}}</code></td>
                                                            <td class="text-center" style="    width: 100px !important;">
                                                                <b style="padding-left: 0px;padding-right: 0.9rem;">
                                                                    {{subitem.cantidad.toFixed(2)}}
                                                                    <small>{{ingreso.unidad}}</small>
                                                                </b>
                                                            </td>
                                                            <td class="text-end" style="    width: 60px !important;">
                                                                <a style="cursor: pointer;" (click)="remove_detalle(idx1,idx2,subitem.cantidad)" class="btn btn-sm btn-icon btn-bg-danger w-30px h-30px">
                                                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr001.svg-->
                                                                    
                                                                    <span class="svg-icon svg-icon-5 svg-icon-white"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path opacity="0.3" d="M6 19.7C5.7 19.7 5.5 19.6 5.3 19.4C4.9 19 4.9 18.4 5.3 18L18 5.3C18.4 4.9 19 4.9 19.4 5.3C19.8 5.7 19.8 6.29999 19.4 6.69999L6.7 19.4C6.5 19.6 6.3 19.7 6 19.7Z" fill="currentColor"/>
                                                                        <path d="M18.8 19.7C18.5 19.7 18.3 19.6 18.1 19.4L5.40001 6.69999C5.00001 6.29999 5.00001 5.7 5.40001 5.3C5.80001 4.9 6.40001 4.9 6.80001 5.3L19.5 18C19.9 18.4 19.9 19 19.5 19.4C19.3 19.6 19 19.7 18.8 19.7Z" fill="currentColor"/>
                                                                        </svg>
                                                                    </span>
                                                                    <!--end::Svg Icon-->
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                                <tbody *ngIf="item.unidades.length == 0">
                                                    <tr>
                                                        <td colspan="7">
                                                            <div class="d-flex flex-row-fluid flex-column flex-column-fluid text-center p-10 py-lg-20">
                                                                <!--begin::Logo-->
                                                                <a  class="pt-lg-20">
                                                                    <img alt="Logo" src="assets/images/logotipo.png" class="theme-light-show" style="height: 80px !important;">    
                                                                </a> 
                                                                <!--begin::Message-->
                                                                <div class="fw-semibold fs-6 text-muted mb-15">
                                                                    Aun no se ingresa rollos en el ingreso.
                                                                </div>  
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <!--end::Table-->
                                        </div>
                                        <!--end::Table wrapper-->
                                    </div>
                                    <!--end::Card body-->
                                    <div class="card-footer text-center pt-0">
                                        <!--begin::Button-->
                                        <button data-bs-toggle="modal" [attr.data-bs-target]="'#confirmarModal'" class="btn btn-dark">
                                            <span class="svg-icon svg-icon-3 ms-1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path opacity="0.3" d="M3 13H10C10.6 13 11 13.4 11 14V21C11 21.6 10.6 22 10 22H3C2.4 22 2 21.6 2 21V14C2 13.4 2.4 13 3 13Z" fill="currentColor"/>
                                                <path d="M7 16H6C5.4 16 5 15.6 5 15V13H8V15C8 15.6 7.6 16 7 16Z" fill="currentColor"/>
                                                <path opacity="0.3" d="M14 13H21C21.6 13 22 13.4 22 14V21C22 21.6 21.6 22 21 22H14C13.4 22 13 21.6 13 21V14C13 13.4 13.4 13 14 13Z" fill="currentColor"/>
                                                <path d="M18 16H17C16.4 16 16 15.6 16 15V13H19V15C19 15.6 18.6 16 18 16Z" fill="currentColor"/>
                                                <path opacity="0.3" d="M3 2H10C10.6 2 11 2.4 11 3V10C11 10.6 10.6 11 10 11H3C2.4 11 2 10.6 2 10V3C2 2.4 2.4 2 3 2Z" fill="currentColor"/>
                                                <path d="M7 5H6C5.4 5 5 4.6 5 4V2H8V4C8 4.6 7.6 5 7 5Z" fill="currentColor"/>
                                                <path opacity="0.3" d="M14 2H21C21.6 2 22 2.4 22 3V10C22 10.6 21.6 11 21 11H14C13.4 11 13 10.6 13 10V3C13 2.4 13.4 2 14 2Z" fill="currentColor"/>
                                                <path d="M18 5H17C16.4 5 16 4.6 16 4V2H19V4C19 4.6 18.6 5 18 5Z" fill="currentColor"/>
                                                </svg>
                                            </span>
                                            Subir ingreso
                                        </button>

                                        <div class="modal fade" id="confirmarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title">Confirmación de Ingreso</h3>
                                                        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                                            <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-14-092914/core/html/src/media/icons/duotune/arrows/arr088.svg-->
                                                            <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"/>
                                                                <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"/>
                                                                </svg>
                                                            </span>
                                                                <!--end::Svg Icon-->
                                                        </div>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Confirmación para el registro del ingreso de rollos a almacen.</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" id="kt_modal_new_card_cancel" class="btn btn-light me-3"  data-bs-dismiss="modal">
                                                            <span class="svg-icon svg-icon-3 ms-1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"/>
                                                                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"/>
                                                                </svg>
                                                            </span>
                                        
                                                            Descartar
                                                        </button>
                                        
                                                        <button *ngIf="!load_btn" type="button" class="btn btn-dark" (click)="validate()">
                                                            <span class="svg-icon svg-icon-3 ms-1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path opacity="0.3" d="M10 18C9.7 18 9.5 17.9 9.3 17.7L2.3 10.7C1.9 10.3 1.9 9.7 2.3 9.3C2.7 8.9 3.29999 8.9 3.69999 9.3L10.7 16.3C11.1 16.7 11.1 17.3 10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"/>
                                                                <path d="M10 18C9.7 18 9.5 17.9 9.3 17.7C8.9 17.3 8.9 16.7 9.3 16.3L20.3 5.3C20.7 4.9 21.3 4.9 21.7 5.3C22.1 5.7 22.1 6.30002 21.7 6.70002L10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"/>
                                                                </svg>
                                                            </span>
                                                            Confirmar
                                                        </button>
                                                        <button *ngIf="load_btn" class="btn btn-dark" type="button" disabled>
                                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                            Procesando...
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          

                        </div>
                       
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Post-->
            </div>
           
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>


<div class="modal fade" id="modalCambio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Confirmación de cambio</h3>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-14-092914/core/html/src/media/icons/duotune/arrows/arr088.svg-->
                    <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"/>
                        <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"/>
                        </svg>
                    </span>
                        <!--end::Svg Icon-->
                </div>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium sed suscipit, natus omnis alias magnam at labore cupiditate fugit provident velit mollitia, ipsum quae id beatae odio corporis cum quidem.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger font-weight-bold btn-sm" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary font-weight-bold btn-sm" (click)="confirmar_cambio()">Confirmar</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="importModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header">
                <!--begin::Modal title-->
                <h3 class="fw-600">Importar productos</h3>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                <!--begin::Form-->
                <div class="form fv-plugins-bootstrap5 fv-plugins-framework">
                    <!--begin::Input group-->
                    <div class="row fv-row fv-plugins-icon-container">
                        <!--begin::Col-->
                        <div class="col-12">
                            <label class="required fs-6 fw-semibold form-label mb-2">Documento XLS</label>
                            <div class="input-group mb-3">
                                <input id="input_xls" type="file" class="form-control form-control-solid mb-3" (change)="upload_xls($event)" accept=".xls,.xlsx">
                                <div class="input-group-append">
                                  <button class="btn btn-danger" (click)="remove_xls()" style="border-radius: 0px !important;">Quitar</button>
                                </div>
                            </div>
                      
                        </div>
                    </div>
                    <!--end::Input group-->
                    <div class="alert alert-dismissible bg-light-danger border border-danger border-dashed d-flex flex-column flex-sm-row w-100 p-5" *ngIf="error_xls">
                        <div class="d-flex flex-column pe-0 pe-sm-10">
                            <h5 class="mb-1">Consola de errores</h5>
                            <span>{{error_xls}}</span>
                        </div>
                    </div>
                    <div class="alert alert-dismissible bg-light-success border border-success border-dashed d-flex flex-column flex-sm-row w-100 p-5" *ngIf="!error_xls && data_xls.length >= 1">
                        <div class="d-flex flex-column pe-0 pe-sm-10">
                            <h5 class="mb-1" style="color: #4c6c5f">Validado correctamente.</h5>
                            <span>Se leyeron {{data_xls.length+1}} registros en el XLS.</span>
                        </div>
                    </div>
                    <!--begin::Input group-->
                   
                    <!--begin::Actions-->
                    <div class="text-center pt-10">
                        <button type="reset" id="kt_modal_new_card_cancel" class="btn btn-light me-3">
                            <span class="svg-icon svg-icon-3 ms-1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"/>
                                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"/>
                                </svg>
                            </span>

                            Descartar
                        </button>
                        <button *ngIf="!load_importar" type="button" class="btn btn-dark" (click)="importar()">
                            <span class="svg-icon svg-icon-3 ms-1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.3" d="M10 18C9.7 18 9.5 17.9 9.3 17.7L2.3 10.7C1.9 10.3 1.9 9.7 2.3 9.3C2.7 8.9 3.29999 8.9 3.69999 9.3L10.7 16.3C11.1 16.7 11.1 17.3 10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"/>
                                <path d="M10 18C9.7 18 9.5 17.9 9.3 17.7C8.9 17.3 8.9 16.7 9.3 16.3L20.3 5.3C20.7 4.9 21.3 4.9 21.7 5.3C22.1 5.7 22.1 6.30002 21.7 6.70002L10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"/>
                                </svg>
                            </span>
                            Importar
                        </button>
                        <button *ngIf="load_importar" class="btn btn-dark" type="button" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Procensando...
                        </button>
                    </div>
                    <!--end::Actions-->
                </div>
                <!--end::Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>