<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Aside-->
        <app-side-bar></app-side-bar>
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!--begin::Header-->
            <app-top-bar></app-top-bar>
            <!--end::Header-->
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Toolbar-->
                <div class="toolbar" id="kt_toolbar">
                    <!--begin::Container-->
                    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                        <!--begin::Page title-->
                        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                            <!--begin::Title-->
                            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">CRM
                                <!--begin::Separator-->
                                <span class="h-20px border-gray-200 border-start mx-5"></span>
                                <!--end::Separator-->
                                <!--begin::Description-->
                                <ol class="breadcrumb text-muted fs-6 fw-semibold">
                                    <li class="breadcrumb-item pe-3">Empresas</li>
                                    
                                </ol>
                      
                                <!--end::Description--></h1>
                            <!--end::Title-->
                        </div>
                        <!--end::Page title-->
                        <!--begin::Actions-->
                        <div class="d-flex align-items-center py-1">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="text-muted fw-bold fs-7">Panel Administrador</span>
                            </h3>
                        </div>
                        <!--end::Actions-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Post-->
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container-xxl">
                        <!--begin::Row-->
                        <div class="row gy-5 g-xl-8">
                            <div class="col-12">
                                <div class="card mb-5 mb-xl-8">
                                    <!--begin::Header-->
                                    <div class="card-header border-0 pt-5">
                                        <h3 class="card-title align-items-start flex-column">
                                            <span class="card-label fw-bold fs-3 mb-1 fw-700">Empresas</span>
                                            <span class="text-muted mt-1 fw-semibold fs-7 d-none d-sm-block">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                                        </h3>
                                        <div class="card-toolbar">
                                            <!-- <a [routerLink]="['/clientes/create']" class="btn btn-sm btn-primary">Nueva empresa</a> -->
                                        </div>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Body-->
                                    <div class="card-body pt-3">
                                        <!--begin::Table container-->
                                        <div class="input-group input-group-solid mb-5 mt-5">
                                            <input type="text" class="form-control" placeholder="Buscar empresa" name="filtro" [(ngModel)]="filtro" (keyup.enter)="filtro_func()">
                                            <button class="btn btn-primary" (click)="filtro_func()">
                                                <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-14-092914/core/html/src/media/icons/duotune/general/gen021.svg-->
                                                <span class="svg-icon icon-size-2qx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"/>
                                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"/>
                                                    </svg>
                                                </span>
                                                    <!--end::Svg Icon-->
                                            </button>
                                        </div>

                                        <ng-container *ngIf="load_data">
                                            <div class="py-20 text-center">
                                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="!load_data">
                                            <div class="table-responsive" *ngIf="empresas.length >= 1">
                                                <!--begin::Table-->
                                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4 mb-0">
                                                    <!--begin::Table head-->
                                                  
                                                    <!--end::Table head-->
                                                    <!--begin::Table body-->
                                                    <tbody>
                                                       
                                                        <ng-container *ngFor="let item of empresas| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let idx = index">
                                                            <tr>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <!--begin::Avatar-->
                                                                        <div class="symbol symbol-45px me-5">
                                                                            <span class="symbol-label fw-bold" [ngClass]="{
                                                                                'bg-light-danger text-danger': item.empresa.razon_social.charAt(0) >='A' && item.empresa.razon_social.charAt(0) <= 'H',
                                                                                'bg-light-primary text-primary': item.empresa.razon_social.charAt(0) >='I' && item.empresa.razon_social.charAt(0) <= 'O',
                                                                                'bg-light-info text-info': item.empresa.razon_social.charAt(0) >='P' && item.empresa.razon_social.charAt(0) <= 'U',
                                                                                'bg-light-success text-success': item.empresa.razon_social.charAt(0) >='V' && item.empresa.razon_social.charAt(0) <= 'Z'}">
                                                                                {{item.empresa.razon_social.charAt(0)}}
                                                                            </span>
                                                                        </div>
                                                                        <!--end::Avatar-->
                                                                        <!--begin::Name-->
                                                                        <div class="d-flex justify-content-start flex-column">
                                                                            <a class="text-dark fw-bold text-hover-primary mb-1 fs-6 fw-600">{{item.empresa.razon_social}}</a>
                                                                            <small  class="text-muted fw-semibold d-block" >
                                                                                Correo electrónico no asignado
                                                                            </small>
                                                                        </div>
                                                                        <!--end::Name-->
                                                                    </div>
                                                                </td>
                                                                
                                                               
                                                                <td class="text-end">
                                                                    <span class="badge badge-light-primary mb-2" *ngIf="item.empresa.estado">Activo</span>
                                                                    <span class="badge badge-light-danger mb-2" *ngIf="!item.empresa.estado">Desactivado</span>
                                                                </td>
                                                                <td class="text-end">
                                                                    <div class="btn-group">
                                                                        <a class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm" data-bs-toggle="modal" [attr.data-bs-target]="'#delete-'+item.empresa._id">
                                                                            
                                                                            <span *ngIf="item.empresa.estado" class="svg-icon svg-icon-3"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <path opacity="0.3" d="M6 19.7C5.7 19.7 5.5 19.6 5.3 19.4C4.9 19 4.9 18.4 5.3 18L18 5.3C18.4 4.9 19 4.9 19.4 5.3C19.8 5.7 19.8 6.29999 19.4 6.69999L6.7 19.4C6.5 19.6 6.3 19.7 6 19.7Z" fill="currentColor"/>
                                                                                <path d="M18.8 19.7C18.5 19.7 18.3 19.6 18.1 19.4L5.40001 6.69999C5.00001 6.29999 5.00001 5.7 5.40001 5.3C5.80001 4.9 6.40001 4.9 6.80001 5.3L19.5 18C19.9 18.4 19.9 19 19.5 19.4C19.3 19.6 19 19.7 18.8 19.7Z" fill="currentColor"/>
                                                                                </svg>
                                                                            </span>
                                                                          
                                                                            <span *ngIf="!item.empresa.estado" class="svg-icon svg-icon-3"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <path opacity="0.3" d="M10 18C9.7 18 9.5 17.9 9.3 17.7L2.3 10.7C1.9 10.3 1.9 9.7 2.3 9.3C2.7 8.9 3.29999 8.9 3.69999 9.3L10.7 16.3C11.1 16.7 11.1 17.3 10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"/>
                                                                                <path d="M10 18C9.7 18 9.5 17.9 9.3 17.7C8.9 17.3 8.9 16.7 9.3 16.3L20.3 5.3C20.7 4.9 21.3 4.9 21.7 5.3C22.1 5.7 22.1 6.30002 21.7 6.70002L10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"/>
                                                                                </svg>
                                                                            </span>
                                                                                <!--end::Svg Icon-->
                                                                        </a>
                                                                        
                                                                    </div>
        
                                                                    <div class="modal fade" id="delete-{{item.empresa._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog" role="document">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h3 class="modal-title" *ngIf="item.empresa.estado">Desactivar cuenta</h3>
                                                                                    <h3 class="modal-title" *ngIf="!item.empresa.estado">Activar cuenta</h3>
                                                                                    <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                                                                        <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-14-092914/core/html/src/media/icons/duotune/arrows/arr088.svg-->
                                                                                        <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                            <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"/>
                                                                                            <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"/>
                                                                                            </svg>
                                                                                        </span>
                                                                                            <!--end::Svg Icon-->
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <p>Confirmación para cambio de estado de la cuenta.</p>
                                                                                </div>
                                                                                <div class="modal-footer">

                                                                                    <button type="button" id="kt_modal_new_card_cancel" class="btn btn-light me-3"  data-bs-dismiss="modal">
                                                                                        <span class="svg-icon svg-icon-3 ms-1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"/>
                                                                                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"/>
                                                                                            </svg>
                                                                                        </span>
                                                            
                                                                                        Descartar
                                                                                    </button>

                                                                                    <button *ngIf="!load_estado" type="button" class="btn btn-dark" (click)="set_status(item.empresa._id,item.empresa.estado)">
                                                                                        <span class="svg-icon svg-icon-3 ms-1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                            <path opacity="0.3" d="M10 18C9.7 18 9.5 17.9 9.3 17.7L2.3 10.7C1.9 10.3 1.9 9.7 2.3 9.3C2.7 8.9 3.29999 8.9 3.69999 9.3L10.7 16.3C11.1 16.7 11.1 17.3 10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"/>
                                                                                            <path d="M10 18C9.7 18 9.5 17.9 9.3 17.7C8.9 17.3 8.9 16.7 9.3 16.3L20.3 5.3C20.7 4.9 21.3 4.9 21.7 5.3C22.1 5.7 22.1 6.30002 21.7 6.70002L10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"/>
                                                                                            </svg>
                                                                                        </span>
                                                                                        Confirmar
                                                                                    </button>

                                                                                    <button *ngIf="load_estado" class="btn btn-dark" type="button" disabled>
                                                                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                                                        Procesando...
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2">
                                                                    <a [routerLink]="['/empresas/rs',item.empresa._id]" style="margin-right: 1.5rem;">
                                                                        <small>Razones sociales</small>
                                                                    </a>
                                                                </td>
                                                                <td class="text-end">
                                                                    <div class="symbol-group symbol-hover flex-nowrap" style="display: initial !important;"  *ngIf="item.agentes.length >= 1">
                                                                        <div *ngIf="item.agentes[0]" class="symbol symbol-35px symbol-circle" placement="top" ngbTooltip="{{item.agentes[0].colaborador.nombres.split(' ')[0]}} {{item.agentes[0].colaborador.apellidos.split(' ')[0]}}">
                                                                            <span class="symbol-label fw-bold" [ngClass]="{
                                                                                'bg-light-danger text-danger': item.agentes[0].colaborador.nombres.charAt(0) >='A' && item.agentes[0].colaborador.nombres.charAt(0) <= 'H',
                                                                                'bg-light-primary text-primary': item.agentes[0].colaborador.nombres.charAt(0) >='I' && item.agentes[0].colaborador.nombres.charAt(0) <= 'O',
                                                                                'bg-light-info text-info': item.agentes[0].colaborador.nombres.charAt(0) >='P' && item.agentes[0].colaborador.nombres.charAt(0) <= 'U',
                                                                                'bg-light-success text-success': item.agentes[0].colaborador.nombres.charAt(0) >='V' && item.agentes[0].colaborador.nombres.charAt(0) <= 'Z'}">{{item.agentes[0].colaborador.nombres.charAt(0)}}</span>
                                                                        </div>
                                                                        <div *ngIf="item.agentes[1]" class="symbol symbol-35px symbol-circle" placement="top" ngbTooltip="{{item.agentes[1].colaborador.nombres.split(' ')[0]}} {{item.agentes[1].colaborador.apellidos.split(' ')[0]}}">
                                                                            <span class="symbol-label fw-bold" [ngClass]="{
                                                                                'bg-light-danger text-danger': item.agentes[1].colaborador.nombres.charAt(0) >='A' && item.agentes[1].colaborador.nombres.charAt(0) <= 'H',
                                                                                'bg-light-primary text-primary': item.agentes[1].colaborador.nombres.charAt(0) >='I' && item.agentes[1].colaborador.nombres.charAt(0) <= 'O',
                                                                                'bg-light-info text-info': item.agentes[1].colaborador.nombres.charAt(0) >='P' && item.agentes[1].colaborador.nombres.charAt(0) <= 'U',
                                                                                'bg-light-success text-success': item.agentes[1].colaborador.nombres.charAt(0) >='V' && item.agentes[1].colaborador.nombres.charAt(0) <= 'Z'}">{{item.agentes[1].colaborador.nombres.charAt(0)}}</span>
                                                                        </div>
                                                                        <div *ngIf="item.agentes[2]" class="symbol symbol-35px symbol-circle" placement="top" ngbTooltip="{{item.agentes[2].colaborador.nombres.split(' ')[0]}} {{item.agentes[2].colaborador.apellidos.split(' ')[0]}}">
                                                                            <span class="symbol-label fw-bold" [ngClass]="{
                                                                                'bg-light-danger text-danger': item.agentes[2].colaborador.nombres.charAt(0) >='A' && item.agentes[2].colaborador.nombres.charAt(0) <= 'H',
                                                                                'bg-light-primary text-primary': item.agentes[2].colaborador.nombres.charAt(0) >='I' && item.agentes[2].colaborador.nombres.charAt(0) <= 'O',
                                                                                'bg-light-info text-info': item.agentes[2].colaborador.nombres.charAt(0) >='P' && item.agentes[2].colaborador.nombres.charAt(0) <= 'U',
                                                                                'bg-light-success text-success': item.agentes[2].colaborador.nombres.charAt(0) >='V' && item.agentes[2].colaborador.nombres.charAt(0) <= 'Z'}">{{item.agentes[2].colaborador.nombres.charAt(0)}}</span>
                                                                        </div>
                                                                        <ng-container *ngIf="item.agentes.length > 3">
                                                                            <a  [routerLink]="['/clientes/edit',item.cliente._id]" class="symbol symbol-35px symbol-circle">
                                                                                <span class="symbol-label bg-light text-gray-400 fs-8 fw-bold">+{{item.agentes.length-3}}</span>
                                                                            </a>
                                                                        </ng-container>
                                                                     
                                                                    </div>
                                                                    <code class="text-danger" *ngIf="item.agentes.length == 0">Libre de agentes</code>
                                                                </td>
                                                            </tr>
                                                        </ng-container>
                                                    </tbody>
                                                    <!--end::Table body-->
                                                </table>
                                                <!--end::Table-->
                                            </div>
                                            <!--end::Table container-->
    
                                            <div class="text-center mt-15 mb-15" *ngIf="empresas.length == 0">
                                                <!--begin::Title-->
                                                <img src="assets/icons/idea.gif" alt="" style="width: 80px;">
                                                <h3 class="fs-2hx text-dark mb-5">Clientes</h3>
                                                <!--end::Title-->
                                                <!--begin::Text-->
                                                <div class="fs-5 text-muted fw-semibold">Within the last 10 years, we have sold over 100,000 admin theme copies that have been 
                                                <br>successfully deployed by small businesses to global enterprises</div>
                                                <!--end::Text-->
                                            </div>
                                        </ng-container>
                                    </div>
                                    <!--begin::Body-->
                                    <div class="card-footer" *ngIf="empresas.length >= 1">
                                        <ngb-pagination
                                                [(page)]="page"
                                                [pageSize]="pageSize"
                                                [maxSize]="10"
                                                [rotate]="true" [boundaryLinks]="true"
                                                [collectionSize]="empresas.length"></ngb-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Post-->
            </div>
           
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>