<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Aside-->
        <app-side-bar class="no-print" (eventPermisos)="handlePermisos($event)"></app-side-bar>
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!--begin::Header-->
            <app-top-bar class="no-print"></app-top-bar>
            <!--end::Header-->
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Toolbar-->
                <div class="toolbar no-print" id="kt_toolbar" >
                    <!--begin::Container-->
                    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
                        <!--begin::Page title-->
                        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                            <!--begin::Title-->
                            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Pedidos
                                <!--begin::Separator-->
                                <span class="h-20px border-gray-200 border-start mx-5"></span>
                                <!--end::Separator-->
                                <!--begin::Description-->
                                <ol class="breadcrumb text-muted fs-6 fw-semibold">
                                    <li class="breadcrumb-item pe-3">
                                        <a [routerLink]="['/pedidos']"  class="pe-3">
                                            Pedidos
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item pe-3">Envio combinado</li>
                                    
                                </ol>
                      
                                <!--end::Description--></h1>
                            <!--end::Title-->
                        </div>
                        <!--end::Page title-->
                        <!--begin::Actions-->
                        <div class="d-flex align-items-center py-1">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="text-muted fw-bold fs-7">Panel Administrador</span>
                            </h3>
                        </div>
                        <!--end::Actions-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Toolbar-->
                <!--begin::Post-->
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container-xxl">
                        <!--begin::Row-->
                        <div class="row gy-5 g-xl-8">
                            <div class="col-12">
                                <ng-container *ngIf="!load_data">
                                    <div class="card" id="toPDF">
                                        <!-- begin::Body-->
                                        <div class="card-body py-20">
                                            <!-- begin::Wrapper-->
                                            <div class="mw-lg-950px mx-auto w-100">
                                                <div class="d-flex justify-content-between mb-15">
                                                    <div>
                                                        
                                                        <div class="mb-5">
                                                            <h4 class="fw-700 text-gray-800 fs-2qx pe-5">
                                                               Envios Combinados
                                                            </h4>
                                                            <span class="text-muted">
                                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, nobis?
                                                            </span>
                                                        </div>

                                                    </div>
                                                    <!--end::Logo-->
                                                    <div id="qrpedido">
                                                        
                                                    </div>
                                                </div>
                                            


                                                <div *ngIf="option == 1" class="d-flex justify-content-between flex-column mt-5">
                                                    <!--begin::Table-->
                                                    <div  *ngIf="detalles.length >= 1">
                                                        <div class="d-flex justify-content-between align-items-center mb-10">
                                                            <div class="d-flex flex-column">
                                                                <h2 class="card-title flex-column fw-700">
                                                                    Envios seleccionados ({{pedidos_envio.length}})
                                                                </h2>
                                                                <span class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, nemo.</span>
                                                            </div>
                                                            <div class="d-flex">
                                                                <button class="btn btn-success"  (click)="setOpEnvio(1)">
                                                                    <ng-container *ngIf="!option_envios_interno">
                                                                        <i class="bi bi-check2"></i> Envío
                                                                    </ng-container>
                                                               
                                                                    <ng-container *ngIf="option_envios_interno">
                                                                        <i class="bi bi-x-lg"></i> Cancelar Envío
                                                                    </ng-container>
                                                                </button>
                                                            </div>
                                                        </div>


                                                        <div class="card mb-10" *ngFor="let item of detalles" 
                                                        style="border: 1px dashed #e6e6e6;"
                                                        [ngClass]="{'detalle_enviado': item.estado == 'Enviado'}">
                                                            <div class="card-body">
                                                                
                                                                <table class="w-100" style="margin-bottom: 1rem;">
                                                                    <tr>
                                                                       
                                                                        <td *ngIf="option_envios_interno" style="width: 50px !important;">
                                                                            <label class="form-check form-check-custom form-check-solid align-items-start">
                                                                                <input (change)="setCHK_envios($event)" class="form-check-input me-2" type="checkbox" [value]="item._id"
                                                                                style="border: 1px dashed #50cd89 !important;" id="chk-{{item._id}}">
                                                                            </label>
                                                                        </td>
                                                                        <!--begin::Product-->
                                                                        <td style="width: 350px;">
                                                                            <div class="d-flex align-items-center gap-3">
                                                                                <a class="symbol symbol-50px bg-secondary bg-opacity-25 rounded">
                                                                                    <span class="symbol-label" style="width: 35px;height: 35px;border: 1px dashed #ccc;border-radius: 50%;" [ngStyle]="{'background': item.color.hxd}">
                                                                                    </span>
                                                                                </a>
                                                                                <div class="d-flex flex-column text-muted">
                                                                                    <a class="text-gray-800 fs-6 fw-bold text-1 fw-600 cursor-pointer" style="font-size: 1rem!important;">
                                                                                        {{item.producto.titulo}} - 
                                                                                        <i class="text-muted">{{item.producto_variacion.variacion_name}}</i>
                                                                                    </a>
                                                                                    <div class="fs-7">
                                                                                        <code class="mr-3">
                                                                                            {{item.producto_variacion.tipo}} -   {{item.producto.categoria}}
                                                                                        </code>
                                                                                        
                                                                                        <ng-container *ngIf="item.pedido_programacion">
                                                                                            &nbsp;|&nbsp;
                                                                                            <ng-container *ngIf="item.pedido_programacion.tipo_usuario == 'Empresa'">
                                                                                                {{item.pedido_programacion.empresa_rs.razon_social}}
                                                                                            </ng-container>
                                                                                            <ng-container *ngIf="item.pedido_programacion.tipo_usuario == 'Cliente natural'">
                                                                                                {{item.pedido_programacion.cliente.nombres.split(' ')[0]}} 
                                                                                                {{item.pedido_programacion.cliente.apellidos.split(' ')[0]}}
                                                                                            </ng-container>
                    
                                                                                            &nbsp;|&nbsp;
                                                                                            #{{item.pedido_programacion.createdAt|date:'y'}}
                                                                                            -
                                                                                            {{item.pedido_programacion.serie.toString().padStart(6,'000000')}}
                                                                                        </ng-container>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td  style="width: 100px;">
                                                                            <span *ngIf="item.estado == 'Pedido'" class="badge badge-warning">
                                                                                {{item.estado}}
                                                                            </span>

                                                                            <span *ngIf="item.estado == 'Aprobado'" class="badge badge-success">
                                                                                {{item.estado}}
                                                                            </span>
                    
                                                                            <span *ngIf="item.estado == 'Enviado'" class="badge badge-primary">
                                                                                {{item.estado}}
                                                                            </span>
                    
                                                                            <span *ngIf="item.estado == 'Confirmado'" class="badge badge-dark">
                                                                                {{item.estado}}
                                                                            </span>

                                                                            <span *ngIf="item.estado == 'Cancelado'" class="badge badge-danger">
                                                                                {{item.estado}}
                                                                            </span>
                                                                        </td>
                                                                        <td class="text-end" style="width: 100px;">
                                                                            <div class="text-gray-800 fs-7">Cantidad</div>
                                                                            <div class="text-muted fs-7 fw-bold" data-kt-table-widget-4="template_qty">
                                                                                {{item.cantidad.toFixed(2)}}
                                                                                <small *ngIf="item.producto_variacion.tipo == 'Tela'">Mtr</small>
                                                                                <small *ngIf="item.producto_variacion.tipo == 'Acero'">Kg</small>
                                                                                <small *ngIf="item.producto_variacion.tipo == 'Ropa'">Unid</small>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-end" style="width: 100px;">
                                                                            <div class="text-gray-800 fs-7">Precio</div>
                                                                            <div class="text-muted fs-7 fw-bold" data-kt-table-widget-4="template_total">
                                                                                <span *ngIf="item.pedido.moneda == 'USD'">{{item.precio|currency:'USD'}}</span>
                                                                                <span *ngIf="item.pedido.moneda == 'MXN'">{{item.precio|currency:'MXN'}}</span>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-end" style="width: 100px;">
                                                                            <div class="text-gray-800 fs-7">Total</div>
                                                                            <div class="text-muted fs-7 fw-bold" data-kt-table-widget-4="template_total">
                                                                                <span *ngIf="item.pedido.moneda == 'USD'">{{item.precio*item.cantidad|currency:'USD'}}</span>
                                                                                <span *ngIf="item.pedido.moneda == 'MXN'">{{item.precio*item.cantidad|currency:'MXN'}}</span>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                                <div class="separator separator-dashed my-3"></div>
                                                                <table class="w-100">
                                                                    <tr>
                                                                        <td>
                                                                            <div class="m-0">                            
                                                                                <span class="fw-semibold text-gray-400 d-block fs-8">Proveedor</span>
                                                                                <a  class="fw-bold text-primary text-hover-primary fs-7" *ngIf="item.proveedor">
                                                                                    {{item.proveedor.razon_social}}
                                                                                </a>
                                                                                <a class="fw-bold text-muted text-hover-primary fs-7" *ngIf="!item.proveedor">
                                                                                    Sin proveedor
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-end">
                                                                            <div class="m-0">                            
                                                                                <span class="fw-semibold text-gray-400 d-block fs-8">Tipo pedido</span>
                                                                                <a  class="fw-bold  text-muted text-hover-primary fs-7">
                                                                                    {{item.tipo_pedido}}
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-end">
                                                                            <div class="m-0">                            
                                                                                <span class="fw-semibold text-gray-400 d-block fs-8">Pedido</span>
                                                                                <a [routerLink]="['/pedidos/detail',item.pedido._id]" class="fw-bold text-primary text-hover-primary fs-7">
                                                                                    #PED{{item.pedido.createdAt|date:'YYYY'}}
                                                                                    -
                                                                                    {{item.pedido.serie.toString().padStart(6,'000000')}}
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-end">
                                                                            <div>                            
                                                                                <span class="fw-semibold text-gray-400 d-block fs-8">Programación</span>
                                                                                <a  *ngIf="item.tipo_pedido == 'Programación'" [routerLink]="['/programaciones/detail',item.programacion_detalle.programacion._id]" class="fw-bold text-primary text-hover-primary fs-7">
                                                                                    #PROD{{item.programacion_detalle.programacion.createdAt|date:'YYYY'}}
                                                                                    -
                                                                                    {{item.programacion_detalle.programacion.serie.toString().padStart(6,'000000')}}
                                                                                </a>
                                                                                <a  *ngIf="item.tipo_pedido != 'Programación'" class="fw-bold text-muted text-hover-primary fs-7">
                                                                                    #Interno
                                                                                </a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </div>

                                                        <div class="d-flex justify-content-end align-items-center mb-10" *ngIf="pedidos_envio.length >= 1">
                                                            <div class="d-flex">
                                                                <button class="btn btn-primary"  (click)="setOption(2)">
                                                                    <i class="bi bi-box"></i> Siguiente
                                                                </button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <!--end::Table-->
                                                    <div class="mb-2"*ngIf="detalles.length ==0" >
                                                        <!--begin::Title-->
                                                        <h1 class="fw-semibold text-gray-800 text-center lh-lg">           
                                                            ¡No hay pedidos que mostrar!
                                                        </h1>
                                                        <!--end::Title--> 
                                                        
                                                        <!--begin::Illustration-->
                                                        <div class="py-10 text-center">
                                                            <span class="svg-icon svg-icon-muted ">
                                                                <svg class="h-100px w-100px" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path opacity="0.3" d="M3 13H10C10.6 13 11 13.4 11 14V21C11 21.6 10.6 22 10 22H3C2.4 22 2 21.6 2 21V14C2 13.4 2.4 13 3 13Z" fill="currentColor"/>
                                                                <path d="M7 16H6C5.4 16 5 15.6 5 15V13H8V15C8 15.6 7.6 16 7 16Z" fill="currentColor"/>
                                                                <path opacity="0.3" d="M14 13H21C21.6 13 22 13.4 22 14V21C22 21.6 21.6 22 21 22H14C13.4 22 13 21.6 13 21V14C13 13.4 13.4 13 14 13Z" fill="currentColor"/>
                                                                <path d="M18 16H17C16.4 16 16 15.6 16 15V13H19V15C19 15.6 18.6 16 18 16Z" fill="currentColor"/>
                                                                <path opacity="0.3" d="M3 2H10C10.6 2 11 2.4 11 3V10C11 10.6 10.6 11 10 11H3C2.4 11 2 10.6 2 10V3C2 2.4 2.4 2 3 2Z" fill="currentColor"/>
                                                                <path d="M7 5H6C5.4 5 5 4.6 5 4V2H8V4C8 4.6 7.6 5 7 5Z" fill="currentColor"/>
                                                                <path opacity="0.3" d="M14 2H21C21.6 2 22 2.4 22 3V10C22 10.6 21.6 11 21 11H14C13.4 11 13 10.6 13 10V3C13 2.4 13.4 2 14 2Z" fill="currentColor"/>
                                                                <path d="M18 5H17C16.4 5 16 4.6 16 4V2H19V4C19 4.6 18.6 5 18 5Z" fill="currentColor"/>
                                                                </svg>
                                                            </span>
                                                        </div>
                                                        <!--end::Illustration-->
                                                    </div>
                                                    <!--end::Table-->
                                                </div>

                                                <div *ngIf="option == 2" >

                                                    <div class="row mb-5">
                                                        <div class="col-lg-12 mb-7" cdkDropListGroup>
                                                            <div *ngFor="let item of contenedores;let idx = index" class="mb-5">
                                                                <div class="d-flex justify-content-between" style="margin-bottom: 1rem;">
                                                                    <span class="text-uppercase" style="font-weight: 700;">
                                                                       Contenedor {{item.contenedor}}
                                                                    </span>
                                                                    <small *ngIf="item.elementos.length == 0" class="text-danger cursor-pointer" (click)="remove_Container(idx)">
                                                                        Eliminar
                                                                    </small>
                                                                    <small *ngIf="item.elementos.length >= 1" class="text-muted cursor-pointer" style="cursor: not-allowed;">
                                                                        Eliminar
                                                                    </small>
                                                                </div>
            
                                                                
                                                                <table class="table table-sm mb-3" 
                                                                cdkDropList
                                                                [cdkDropListData]="item.elementos"
                                                                (cdkDropListDropped)="drop($event,idx)"
                                                                style="min-height: 35px;    background: #f8fafb;">
                                                                    <tr 
                                                                    cdkDrag 
                                                                    [cdkDragData]="subitem" 
                                                                    *ngFor="let subitem of item.elementos;let subidx = index" 
                                                                    style="border: none;">
                                                                        <td class="ptb-0" style="width: 50px;height: 35px;" [ngStyle]="{
                                                                            'border': '1px solid #ccc',
                                                                            'background': subitem.producto_variacion.hxd + ' url(assets/patterns/' + subitem.pattern + '.png)',
                                                                            'background-size': 100+'%'}">
                                                                            <div class="d-flex align-items-center justify-content-center" style="font-weight: 600;font-size: 1.1rem;height: 100%;" 
                                                                            [ngStyle]="{color: subitem.colorText}">
                                                                                <span>
                                                                                    {{subitem.porcent.toFixed(2)}}<small>%</small>
                                                                                </span>
                                                                            </div>
                                                                        </td>
                                                                        <td style="border: 1px solid #ccc;border-right: 0px;">
                                                                            <span class="fw-600">
                                                                                {{subitem.producto.titulo}} 
                                                                                - 
                                                                                <i class="text-muted">{{subitem.cantidad}} {{subitem.unidad}}</i>
                                                                                -
                                                                                <i class="text-muted">{{subitem.producto_variacion.variacion_name}}</i>
                                                                            </span>
                                                                        </td>
                                                                        <td class="text-end"  style="border: 1px solid #ccc;border-left: 0px;"> 
                                                                            <a placement="left" ngbTooltip="Eliminar Detalle" 
                                                                            class="btn me-2 btn-sm btn-icon btn-dark btn-active-color-primary w-30px h-30px" data-bs-toggle="modal" 
                                                                            [attr.data-bs-target]="'#deleteModal-'+subidx">        
                                                                                <i class="bi bi-x"></i>
                                                                            </a>
                                                                            <div class="modal fade" id="deleteModal-{{subidx}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                                <div class="modal-dialog" role="document">
                                                                                    <div class="modal-content">
                                                                                        <div class="modal-header">
                                                                                            <h3 class="modal-title">Eliminar Detalle</h3>
                                                                                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                                                                                <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/kt-products/metronic/releases/2022-07-14-092914/core/html/src/media/icons/duotune/arrows/arr088.svg-->
                                                                                                <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                    <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"/>
                                                                                                    <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"/>
                                                                                                    </svg>
                                                                                                </span>
                                                                                                    <!--end::Svg Icon-->
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="modal-body">
                                                                                            <p>Confirmación de eliminación de pedido.</p>
                                                                                        </div>
                                                                                        <div class="modal-footer">
                                                                            
                                                                                            <button type="button" id="kt_modal_new_card_cancel" class="btn btn-light me-3"  data-bs-dismiss="modal">
                                                                                                <span class="svg-icon svg-icon-3 ms-1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"/>
                                                                                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"/>
                                                                                                    </svg>
                                                                                                </span>
                                                                            
                                                                                                Descartar
                                                                                            </button>
                                                                            
                                                                                            <button *ngIf="!load_del_detalle" type="button" data-bs-dismiss="modal" class="btn btn-dark" (click)="removeDetalle(idx,subidx,subitem._id)">
                                                                                                <span class="svg-icon svg-icon-3 ms-1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                                    <path opacity="0.3" d="M10 18C9.7 18 9.5 17.9 9.3 17.7L2.3 10.7C1.9 10.3 1.9 9.7 2.3 9.3C2.7 8.9 3.29999 8.9 3.69999 9.3L10.7 16.3C11.1 16.7 11.1 17.3 10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"/>
                                                                                                    <path d="M10 18C9.7 18 9.5 17.9 9.3 17.7C8.9 17.3 8.9 16.7 9.3 16.3L20.3 5.3C20.7 4.9 21.3 4.9 21.7 5.3C22.1 5.7 22.1 6.30002 21.7 6.70002L10.7 17.7C10.5 17.9 10.3 18 10 18Z" fill="currentColor"/>
                                                                                                    </svg>
                                                                                                </span>
                                                                                                Confirmar
                                                                                            </button>
                                                                                            <button *ngIf="load_del_detalle" class="btn btn-dark" type="button" disabled>
                                                                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                                                                Procesando...
                                                                                            </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div> 
                                                                        </td>
                                                                    </tr>
                                                                </table>
            
                                                                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="margin-top: 1rem;">
                                                                    <div class="progress-bar" [ngStyle]="{'width': item.totalPorcentaje + '%'}">
                                                                    {{item.totalPorcentaje.toFixed(2)}}%
                                                                    </div>
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex justify-content-between">
                                                        
                                                        <button class="btn btn-primary me-3"  (click)="setOption(1)">
                                                            <i class="bi bi-arrow-left-short"></i> Anterior
                                                        </button>
                                                        <button class="btn btn-dark"  (click)="setOption(3)">
                                                            <i class="bi bi-check2"></i> Siguiente
                                                        </button>
                                                    </div>


                                                </div>

                                                <div *ngIf="option == 3" >

                                                    <div class="row g-9">
                                                        <div class="col-md-6 d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                                                            <!--begin::Label-->
                                                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                                                <span class="required">Transporte</span>
                                                            </label>
                                                            <!--end::Label-->
                                                            <select class="form-select form-select-solid mb-3 mb-lg-0" name="tipo_transporte" [(ngModel)]="envio.tipo_transporte">
                                                                <option value="" selected disabled>Seleccionar</option>
                                                                <option value="Maritimo">Maritimo</option>
                                                                <option value="Aereo">Aereo</option>
                                                                <option value="Terrestre">Terrestre</option>
                                                            </select>
                                                        </div>
                                
                                                        <div class="col-md-6 d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                                                            <!--begin::Label-->
                                                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                                                <span class="required">Empresa</span>
                                                            </label>
                                                            <!--end::Label-->
                                                            <input type="text" class="form-control form-control-solid" placeholder="Empresa de transporte" name="empresa_transporte" [(ngModel)]="envio.empresa_transporte"/>
                                                        </div>
                                                    </div>
                                                    <div class="row g-9">
                                                        <div class="col-md-6 d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                                                            <!--begin::Label-->
                                                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                                                <span class="required">Encargado</span>
                                                            </label>
                                                            <!--end::Label-->
                                                            <input type="text" class="form-control form-control-solid" placeholder="Aduanero" name="aduanero_transporte" [(ngModel)]="envio.aduanero_transporte"/>
                                                        </div>
                                
                                                        <div class="col-md-6 d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                                                            <!--begin::Label-->
                                                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                                                <span class="required">Entrega aprox.</span>
                                                            </label>
                                                            <!--end::Label-->
                                                            <input type="date" class="form-control form-control-solid" name="programacion_transporte" [(ngModel)]="envio.programacion_transporte"/>
                                                        </div>
                                                    </div>
                                                    <div class="row g-9 mb-8">
                                                        <div class="col-md-6 d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                                                            <!--begin::Label-->
                                                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                                                <span class="">Tracking</span>
                                                            </label>
                                                            <!--end::Label-->
                                                            <input type="text" class="form-control form-control-solid" placeholder="Número de seguimiento" name="tracking" [(ngModel)]="envio.tracking" />
                                                        </div>
                                
                                                        <div class="col-md-6 d-flex flex-column mb-8 fv-row fv-plugins-icon-container">
                                                            <!--begin::Label-->
                                                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                                                <span class="">Precio</span>
                                                            </label>
                                                            <!--end::Label-->
                                                            <input type="number" class="form-control form-control-solid" placeholder="Costo del envio" name="costo_envio" [(ngModel)]="envio.costo_envio"/>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex justify-content-between">
                                                        
                                                        <button class="btn btn-primary me-3"  (click)="setOption(2)">
                                                            <i class="bi bi-arrow-left-short"></i> Anterior
                                                        </button>
                                                        <button class="btn btn-dark"  (click)="crear()">
                                                            <i class="bi bi-check2"></i> Confirmar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end::Wrapper-->
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="load_data">
                                    <div class="py-20 text-center">
                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="sr-only">Loading...</span>
                                          </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                       
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Post-->
            </div>
           
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
