<main class="page-wrapper">
    <app-navbar></app-navbar>

    <!-- Hero slider + BG parallax -->
    <section class="jarallax dark-mode bg-dark py-xxl-5" data-jarallax data-speed="0.4">
      <span class="position-absolute top-0 start-0 w-100 h-100 bg-gradient-dark-translucent"></span>
      <div class="jarallax-img" style="background-image: url(assets/media/fondo.jpg);"></div>
      <div class="position-relative text-center zindex-5 overflow-hidden pt-4 py-md-5">

        <!-- Slider controls (Prev / next) -->
        <button type="button" id="hero-prev" class="btn btn-prev btn-icon btn-xl bg-transparent shadow-none position-absolute top-50 start-0 translate-middle-y d-none d-md-inline-flex ms-n3 ms-lg-2">
          <i class="bx bx-chevron-left fs-1"></i>
        </button>
        <button type="button" id="hero-next" class="btn btn-next btn-icon btn-xl bg-transparent shadow-none position-absolute top-50 end-0 translate-middle-y d-none d-md-inline-flex me-n3 me-lg-2">
          <i class="bx bx-chevron-right fs-1"></i>
        </button>

        <!-- Slider -->
        <div class="container text-center py-xl-5">
          <div class="row justify-content-center pt-lg-5">
            <div class="col-xl-8 col-lg-9 col-md-10 col-11">
              <div id="swiper" class="swiper pt-5 pb-4 py-md-5" data-swiper-options=''>
                <div class="swiper-wrapper">

                  <!-- Item -->
                  <div class="swiper-slide">
                    <h2 class="display-2 from-start mb-lg-4"
                    style="font-family: Poppins;">AMERICA COUNTRY STEEL</h2>
                    <div class="from-end">
                      <p class="fs-xl text-light opacity-70 pb-2 mb-lg-5">
                        The Galaxy Steel Supplier
                      </p>
                    </div>
                  
                  </div>

                </div>

                <!-- Pagination (bullets) -->
                <div class="swiper-pagination position-relative d-md-none pt-2 mt-5"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container d-flex flex-column flex-sm-row align-items-center  justify-content-center position-relative zindex-5 pb-5">
        <div class="d-flex mb-4 mb-sm-0">
          <a href="#" class="btn btn-icon btn-secondary btn-linkedin rounded-circle me-2">
            <i class="bx bxl-linkedin"></i>
          </a>
          <a href="#" class="btn btn-icon btn-secondary btn-facebook rounded-circle me-2">
            <i class="bx bxl-facebook"></i>
          </a>
          <a href="#" class="btn btn-icon btn-secondary btn-twitter rounded-circle me-2">
            <i class="bx bxl-twitter"></i>
          </a>
          <a href="#" class="btn btn-icon btn-secondary btn-youtube rounded-circle me-2">
            <i class="bx bxl-youtube"></i>
          </a>
        </div>
      </div>
      <div class="container text-center position-relative">
        <span class="text-sm text-muted">
          Estamos trabajando en darte el mejor servicio
        </span>
      </div>
    </section>

    <section class="container py-5 my-2 my-md-4 my-lg-5">
      <h2 class="h1 text-center pt-1 pt-xl-2 mb-4 font-popins">Por qué escogernos?</h2>
      <p class="fs-lg text-muted text-center pb-4 mb-2 mb-lg-3">
        Somos su elección número uno para vigas de construcción de alta calidad. Nuestra experiencia, compromiso con la excelencia y servicio al cliente excepcional son solo algunas de las razones por las que somos la opción preferida en el mercad
      </p>
      <div id="swiper1" class="swiper pt-3" data-swiper-options=''>
        <div class="swiper-wrapper">

          <!-- Item -->
          <div class="swiper-slide border-end-lg px-2">
            <div class="text-center">
              <img src="https://silicon.createx.studio/assets/img/landing/digital-agency/icons/idea.svg" width="48" alt="Bulb icon" class="d-block mb-4 mx-auto">
              <h4 class="mb-2 pb-1 font-popins">Soluciones</h4>
              <p class="mx-auto" style="max-width: 336px;">
                Producimos todo tipo de acero para tus necesidades.</p>
            </div>
          </div>

          <!-- Item -->
          <div class="swiper-slide border-end-lg px-2">
            <div class="text-center">
              <img src="https://silicon.createx.studio/assets/img/landing/digital-agency/icons/award.svg" width="48" alt="Award icon" class="d-block mb-4 mx-auto">
              <h4 class="mb-2 pb-1 font-popins">Competitivadades</h4>
              <p class="mx-auto" style="max-width: 336px;">Precio reajistable para que compitas en el mercado.</p>
            </div>
          </div>

          <!-- Item -->
          <div class="swiper-slide px-2">
            <div class="text-center">
              <img src="https://silicon.createx.studio/assets/img/landing/digital-agency/icons/team.svg" width="48" alt="Team icon" class="d-block mb-4 mx-auto">
              <h4 class="mb-2 pb-1 font-popins">Equipo</h4>
              <p class="mx-auto" style="max-width: 336px;">Contamos con un equipo flexible para que te de soluciones.</p>
            </div>
          </div>
        </div>

        <!-- Pagination (bullets) -->
        <div class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4"></div>
      </div>
    </section>

    <!-- Sponsors -->
    <section class="position-relative bg-dark py-3">
      <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255,255,255,.05);"></div>
      <div class="container position-relative zindex-5 pt-1 pt-md-2 pb-lg-2 pt-lg-4">
         
      </div>
    </section>

    <!-- Projects -->
    <section class="container mb-5 pb-lg-5 pb-md-4 pb-3">
      <h2 class="h1 text-center pt-1 pt-xl-2 mb-4 font-popins" style="margin-top: 5rem;">Nuestros productos</h2>
      <p class="fs-lg text-muted text-center pb-1 mb-2 mb-lg-3" style="margin-bottom: 4rem !important;">
        Cualquier variedad de acero que necesite, estamos en capacidad de fabricarla para usted.
      </p>

      <!-- Project item -->
      <div class="row gy-4 mb-4 pb-md-3 pb-2">
        <div class="col-md-6 rellax" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="md">
          <div class="bg-secondary rounded-3">
            <img class="rounded-3" src="assets/media/1.jpg" alt="Project image" style="width: 100%;height: 400px;">
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 offset-lg-1 d-flex rellax" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md">
          <div class="align-self-center ps-lg-0 ps-md-4">
            <h4 class="mb-lg-4 mb-3 fs-base fw-normal text-body">Productos</h4>
            <h3 class="h2 mb-lg-4 mb-3 font-popins">Rollos galvanizados / acero
            </h3>
            <p class="mb-lg-4 mb-3 ">
              Ofrecemos una amplia y diversificada selección de rollos de acero galvanizado y de acero con recubrimiento en nuestro catálogo de productos.
            </p>
            <ul class="mb-lg-4 mb-3 fs-sm text-muted list-inline" style="max-width: 19.125rem;">
              <li class="list-inline-item me-1">
                Galvanizada
                <span class="ms-1">/</span>
              </li>
              <li class="list-inline-item me-1">
                Acero
              </li>
            </ul>
            <a href="#" class="btn btn-lg btn-dark">
              Mas información
            </a>
          </div>
        </div>
      </div>

      <!-- Project item -->
      <div class="row gy-4 mb-4 pb-md-3 pb-2">
        <div class="col-md-6 rellax" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="md">
          <div class="bg-secondary rounded-3">
            <img class="rounded-3" src="assets/media/2.jpg" alt="Project image" style="width: 100%;height: 400px;">
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 offset-lg-1 d-flex rellax" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md">
          <div class="align-self-center ps-lg-0 ps-md-4">
            <h4 class="mb-lg-4 mb-3 fs-base fw-normal text-body">Productos</h4>
            <h3 class="h2 mb-lg-4 mb-3 font-popins">Estructurales</h3>
            <p class="mb-lg-4 mb-3">En nuestro extenso catálogo de productos de estructura, proporcionamos una selección excepcionalmente amplia en el mercado, que abarca una amplia gama de tipos de acero y una variedad de medidas para satisfacer todas sus necesidades y preferencias.</p>
            <ul class="mb-lg-4 mb-3 fs-sm text-muted list-inline" style="max-width: 19.125rem;">
              <li class="list-inline-item me-1">
                Viga IPR
                <span class="ms-1">/</span>
              </li>
              <li class="list-inline-item me-1">
                Viga IPS
              </li>
             
            </ul>
            <a href="#" class="btn btn-lg btn-dark">
              Mas información
            </a>
          </div>
        </div>
      </div>


      <!-- Project item -->
      <div class="row gy-4 mb-4 pb-md-3 pb-2">
        <div class="col-md-6 rellax" data-rellax-percentage="0.5" data-rellax-speed="0.5" data-disable-parallax-down="md">
          <div class="bg-secondary rounded-3">
            <img class="rounded-3" src="assets/media/5.jpg" alt="Project image" style="width: 100%;height: 400px;">
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 offset-lg-1 d-flex rellax" data-rellax-percentage="0.5" data-rellax-speed="-0.5" data-disable-parallax-down="md">
          <div class="align-self-center ps-lg-0 ps-md-4">
            <h4 class="mb-lg-4 mb-3 fs-base fw-normal text-body">Productos</h4>
            <h3 class="h2 mb-lg-4 mb-3 font-popins">Corrugados</h3>
            <p class="mb-lg-4 mb-3">
              En nuestra gama de productos, ponemos a su disposición una extensa selección de varillas corrugadas en diversos diámetros y especificaciones de acero, ofreciendo una amplia variedad para adaptarse a sus necesidades específicas.
            </p>
            <ul class="mb-lg-4 mb-3 fs-sm text-muted list-inline" style="max-width: 19.125rem;">
              <li class="list-inline-item me-1">
                Varilla corrugada
              </li>
             
            </ul>
            <a href="#" class="btn btn-lg btn-dark">
              Mas información
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="position-relative bg-dark py-5">
      <span class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255, 255, 255, .05)"></span>
      <div class="container position-relative zindex-5 text-center my-xl-3 py-1 py-md-4 py-lg-5" bis_skin_checked="1">
        <p class="lead text-light opacity-70 mb-3">¿Listo para empezar?</p>
        <h2 class="h1 text-light pb-3 pb-lg-0 mb-lg-5 font-popins">
          Esos son solo productos son solo algunos!
        </h2>
        <a href="#" class="btn btn-white text-dark btn-lg" style="background-color: white;">Contactanos</a>
      </div>
    </section>

      <!-- Features -->
      <section class="position-relative py-5">
        <div class="container position-relative zindex-5 pb-md-4 pt-md-2 pt-lg-3 pb-lg-5">
          <div class="row justify-content-center text-center pb-3 mb-sm-2 mb-lg-3" style="margin-top: 3rem;">
            <div class="col-xl-6 col-lg-7 col-md-9">
              <h2 class="h1 mb-lg-4 font-popins">Lo que te ofrecemos</h2>
              <p class="fs-lg text-muted mb-0">Ofrecemos calidad superior y experiencia en construcción a precios competitivos.</p>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-0 pb-xl-3">

            <!-- Item -->
            <div class="col position-relative">
              <div class="card border-0 bg-transparent rounded-0 p-md-1 p-xl-3">
                <div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
                  <img src="assets/media/i1.png" width="40" alt="Comments">
                </div>
                <div class="card-body text-center">
                  <h3 class="h5 pb-1 mb-2">Variedad de productos</h3>
                  <p class="mb-0">Ofrecemos una amplia gama de materiales de construcción de alta calidad.</p>
                </div>
              </div>
              <hr class="position-absolute top-0 end-0 w-1 h-100 d-none d-sm-block">
              <hr class="position-absolute top-100 start-0 w-100 d-none d-sm-block">
            </div>

            <!-- Item -->
            <div class="col position-relative">
              <div class="card border-0 bg-transparent rounded-0 p-md-1 p-xl-3">
                <div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
                  <img src="assets/media/i2.png" width="40" alt="Analytics">
                </div>
                <div class="card-body text-center">
                  <h3 class="h5 pb-1 mb-2">Precios competitivos</h3>
                  <p class="mb-0">Te garantizamos ofertas asequibles y presupuestos que se ajustan a tu bolsillo.</p>
                </div>
              </div>
              <hr class="position-absolute top-0 end-0 w-1 h-100 d-none d-md-block">
              <hr class="position-absolute top-100 start-0 w-100 d-none d-sm-block">
            </div>

            <!-- Item -->
            <div class="col position-relative">
              <div class="card border-0 bg-transparent rounded-0 p-md-1 p-xl-3">
                <div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
                  <img src="assets/media/i3.png" width="40" alt="Group">
                </div>
                <div class="card-body text-center">
                  <h3 class="h5 pb-1 mb-2">Expertos en construcción</h3>
                  <p class="mb-0">Nuestro equipo de asesores profesionales está listo para ayudarte en cada proyecto.</p>
                </div>
              </div>
              <hr class="position-absolute top-0 end-0 w-1 h-100 d-none d-sm-block d-md-none">
              <hr class="position-absolute top-100 start-0 w-100 d-none d-sm-block">
            </div>

            <!-- Item -->
            <div class="col position-relative">
              <div class="card border-0 bg-transparent rounded-0 p-md-1 p-xl-3">
                <div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
                  <img src="assets/media/i4.png" width="40" alt="Notifications">
                </div>
                <div class="card-body text-center">
                  <h3 class="h5 pb-1 mb-2">Entrega rápida</h3>
                  <p class="mb-0">Puntualidad en la entrega, asegurando que tus materiales lleguen a tiempo.</p>
                </div>
              </div>
              <hr class="position-absolute top-0 end-0 w-1 h-100 d-none d-md-block">
              <hr class="position-absolute top-100 start-0 w-100 d-none d-sm-block d-md-none">
            </div>
            
            <!-- Item -->
            <div class="col position-relative">
              <div class="card border-0 bg-transparent rounded-0 p-md-1 p-xl-3">
                <div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
                  <img src="assets/media/i5.png" width="40" alt="Tasks">
                </div>
                <div class="card-body text-center">
                  <h3 class="h5 pb-1 mb-2">Servicio al cliente</h3>
                  <p class="mb-0">Brindamos atención personalizada y amable para satisfacer tus necesidades.</p>
                </div>
              </div>
              <hr class="position-absolute top-0 end-0 w-1 h-100 d-none d-sm-block">
            </div>

            <!-- Item -->
            <div class="col position-relative">
              <div class="card border-0 bg-transparent rounded-0 p-md-1 p-xl-3">
                <div class="d-table bg-secondary rounded-3 p-3 mx-auto mt-3 mt-md-4">
                  <img src="assets/media/i6.png" width="40" alt="Security">
                </div>
                <div class="card-body text-center">
                  <h3 class="h5 pb-1 mb-2">Calidad garantizada</h3>
                  <p class="mb-0">Confía en nuestros materiales duraderos y confiables con garantía asegurada.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(255,255,255,.05);"></div>
      </section>

    <app-footer></app-footer>
</main>